body {
  min-height: 100vh;
  background-image: url("./Images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.settings-card {
  margin-top: 15rem;
}
